<!DOCTYPE html>

<html ng-app="kittiesApp">
	<head>
		<meta charset="utf-8">

		<title>Kitten Adoption</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/KittiesController.js"></script>

	</head >
		
	<body id="container" ng-controller="KittiesController as kitties">
		<div  id="left" >
			
			<div  >
				<ul  >
					<h2 class ="kittie-title">Kitties For Adoption</h2>
					<li class = "dashed" class="left-container" ng-repeat="kitten in kitties.kittieArray | filter: { adopted:false} ">

						<h3>My name is {{kitten.catName}}</h3>
						<h3>I am {{kitten.monthsOld}} months old</h3>
						<h3>I am a {{kitten.gender}}</h3>
 						<img class="kittie-image" src="{{kitten.image}}">
						<h4>Adopt</h4>
						<button class="adopt-btn" ng-click="kitties.adopted(kitten)"></button>
					</li>
				</ul>
			</div>
		</div>

		<div  id="right" >
			
			<div  >
				<ul  >
					<h2 class ="kittie-title">Kitties That Have Homes</h2>
					<li class = "dashed" class="right-container" ng-repeat="kitten in kitties.kittieArray | filter: { adopted:true} ">

						<h3>My name is {{kitten.catName}}</h3>
						<h3>I am {{kitten.monthsOld}} months old</h3>
						<h3>I am a {{kitten.gender}}</h3>
						 <img class="kittie-image" src="{{kitten.image}}">
						<h4>Adopt</h4>
						<button class="adopt-btn" ng-click="kitties.unadopted(kitten)"></button>
					</li>
				</ul>
			</div>
		</div>


		
	</body>
</html>
